@font-face {
    font-family: 'Boing';
    src: url('Boing.woff2') format('woff2'),
        url('Boing.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Boing';
    src: url('Boing-Medium.woff2') format('woff2'),
        url('Boing-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@100;200;300;400;500;600&display=swap');


.body{
    min-height: 200vh;
    position: relative;
}

.container {
    font-family: 'Poppins', sans-serif;
    padding-top: 60px;
    margin: 0 auto;
    width: 80%;
    min-height: 100vh;
}

.logo{
    font-size:30px;
    font-weight:bolder;
    text-decoration: none;
    font-family: 'Boing';
}

.logo-dot{
    color:#EA7613;
    font-weight:bolder;
    font-size:30px;
}
.cal-dot{
    color:#EA7613;
    font-weight:bolder;
    font-size:15px;
    padding-left:3px;
    padding-right:2px;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

#quote-text{
    font-size:7px;
    font-weight: bolder;
}

.home-grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    height: 500px;
    margin-top: 150px;
    margin-bottom: 150px
}

.hg1 { 
    grid-area: 1 / 1 / 6 / 3; 
    border-radius:13px;
    overflow:hidden;
    border: 2px solid #f85c4a
}
#hg1{
    background-color:#f85c4a;
}

.hg2 { 
    grid-area: 1 / 3 / 4 / 5; 
    border-radius:13px;
    overflow:hidden;
    border: 2px solid #76cdd8
}
#hg2{
    background-color:#76cdd8;
}

.hg3 { 
    grid-area: 1 / 5 / 2 / 7;
    border-radius:13px;
    border: 2px solid #36A2EB;
}

#hg3{
    color: black;
}

.hg4 { 
    grid-area: 6 / 1 / 7 / 3;
    border-radius:13px;
    border: 2px solid #ffbe30;
}
#hg4{
    color: black;
    font-size: .8vw;
    word-wrap: break-word;
    font-weight: 200;
    line-height: 1.2;
}

#quote-text{
    font-size:12px;
}

.hg5 { 
    grid-area: 4 / 3 / 7 / 5;
    border-radius:13px;
    border: 2px solid #8A90DB;
    overflow:hidden;
}

#hg5{
    background-color: #8A90DB;
}
.hg6 { 
    grid-area: 2 / 5 / 7 / 7;
    border-radius:13px;
    border: 2px solid  #FF9B20;
    overflow:hidden;
}

#hg6{
    background-color: #FF9B20;
}

.hg-header{
    height:50px;
    overflow:hidden;
}

.hg-title{
    margin-left:7%;
    padding-top:3%;
    font-weight: 500;
    color: white;
    font-size:18px;
    font-family: 'Boing';
}

.setup-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 0px;
    height: 700px;
    margin-top: 150px;
}
    
.setup1 { 
    grid-area: 1 / 1 / 5 / 3;
    border-radius:13px;
    overflow:hidden;
    border: 2px solid #f85c4a;
}
.setup2 { 
    grid-area: 1 / 3 / 3 / 4;
    border-radius:13px;
    overflow:hidden;
    border: 2px solid rgb(216, 216, 216);
    background:rgb(248, 248, 248)
}

.setup-title{
    margin-left:2%;
    padding-top:2%;
    padding-bottom:2%;
    font-weight: 500;
    color: white;
    font-size:18px;
    font-family: 'Boing';   
}

.setup-fields{
    padding:30px;
}

.asterisk{
    padding-left:3px;
    padding-top:3px;
    color:red;
    font-size:small;
}

.high-temp{
    color: #ffbe30;
    font-weight: bold;
}

.low-temp{
    color: lightblue;
    font-weight: bold;
}

#wtext{
    font-size: 1.0vw;
    word-wrap: break-word;
    font-weight: 900;
    margin-top:3px
}

.sgrid{
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
}

.sg1 { 
    grid-area: 1 / 1 / 4 / 2; 
    margin: 20px;

}
.sg2 { 
    grid-area: 1 / 2 / 4 / 3;
    margin: auto;
}
.sg3 { 
    grid-area: 1 / 3 / 4 / 4;
    margin: auto;
    margin-left: 5%;
}

.dash-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    height: 1000px;
    margin-top: 50px;
    margin-bottom: 150px;
    width:90%;
}

.dg1 { 
    grid-area: 1 / 1 / 5 / 3;
    border-radius:13px;
    overflow:hidden;
    border: 1px solid #76cdd8
}

.dg2 { grid-area: 5 / 1 / 9 / 3;
    border-radius:13px;
    overflow:hidden;
    border: 1px solid #FF9B20;
}

.dg3 { 
    grid-area: 9 / 1 / 11 / 3;
    border-radius:13px;
    overflow:hidden;
    border: 1px solid #f85c4a
}

.dg4 { 
    grid-area: 11 / 1 / 13 / 3;
    border-radius:13px;
    overflow:hidden;
    border: 1px solid #36A2EB
}

#dg4{
    background-color:#36A2EB
}

.dg5 { 
    grid-area: 1 / 3 / 7 / 5;
    border-radius:13px;
    overflow:hidden;
    border: 1px solid #f85c4a
}

.dg6 { 
    grid-area: 7 / 3 / 13 / 5;
    border-radius:13px;
    overflow:hidden;
    border: 1px solid #8A90DB
}

.daily-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr .1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 20px;
    width:90%;
}

.daily1{
    grid-area: 1 / 1 / 2 / 2;
    border: 1px solid #8A90DB
}
.daily2{
    grid-area: 1 / 2 / 2 / 3;
    border: 1px solid #8A90DB
}
.daily3{
    grid-area: 3 / 1 / 4 / 2;
    border: 1px solid #8A90DB
}
.daily4{
    grid-area: 3 / 2 / 4 / 3;
    border: 1px solid #8A90DB
}
.daily5{
    grid-area: 2 / 1 / 3 / 3;
    color: black;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.meal-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr .1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.m1{
    grid-area: 1 / 1 / 2 / 2;
}
.m2{
    grid-area: 1 / 2 / 2 / 3;
}
.m3{
    grid-area: 1 / 3 / 2 / 4;
}
.m4{
    grid-area: 2 / 1 / 3 / 4;
    color: black;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.m5{
    grid-area: 3 / 1 / 4 / 4;
}

.dash-quote{
    font-size: 1vw;
    word-wrap: break-word;
    line-height: 1.2;
}

.dq-title{
    font-family: 'Boing';
    font-weight: bolder;
}